[submodule "_includes"]
	path = _includes
	url = https://github.com/LatticeMage/Jekyll_includes.git
	branch = main

[submodule "assets"]
	path = assets
	url = https://github.com/LatticeMage/jekyll_assets.git
	branch = main

[submodule "_layouts"]
	path = _layouts
	url = ../ai_layouts.git
	branch = main